wheel
tqdm
black
ruff
hydra-core
jaxtyping
beartype
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
git+https://github.com/liren-jin/diff-gaussian-rasterization_2d
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
opencv-python==4.6.0.66
torchmetrics==1.6.1
sk-video
PyOpenGL
glfw
imgviz
open3d==0.17.0
PyGLM
numpy==1.26.4
trimesh==4.4.1
seaborn==0.13.2
gdown
